:root {
  box-sizing: border-box;
  margin: 20px;
}

.lists-container {
  margin: 20px 0;
}


.list {
  margin: 10px 0;
  border: 1px solid grey;
  border-radius: 10px;
  overflow: hidden;
}

.list__title {
  padding: 5px;
  border-bottom: 1px solid black;
  background-color: lightblue;
}

.list__title:hover {
  border: 1px solid black;
  cursor: pointer;
  font-weight: bold;
}

.list__tasks {
  padding: 5px;
}
